.admin-wrapper {
    background: var(--ion-color-light);
    min-height: 100%;
    height: 100hv;

    ion-header {
        ion-toolbar {
            height: 70px;

            .logo {
                img {
                    width: 60px;
                    padding: 7px 0px;
                }
            }

            ion-text {
                padding: 5px;
            }
        }
    }

    ion-content {
        background: #0000ff;
        min-height: 100%;
        min-height: calc(100vh - 70px);
    }

    ion-menu {
        ion-header {
            display: flex;
            background: var(--ion-color-primary);

            .logo {
                img {
                    width: 60px;
                    padding: 8px 0px 4px 0;
                }
            }
            ion-text {
                padding: 10px 20px;
            }
        }
        ion-item {

            ion-icon {
                color: #ffffff;
            }

            &:hover {
                ion-icon {
                    color: var(--ion-color-tertiary) !important;
                }
            }
        }
    }
}
