<div class="wrapper">
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <img src="assets/images/ctf-logo-white-medium.png" alt="ce iti trebuie frate">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9" class="ion-text-end">
                <h1>
                    <ion-text color="light">Ce iti trebuie <strong>frate</strong>?</ion-text>
                </h1>
            </ion-col>
            <ion-col size="3">
                <ion-fab vertical="center" horizontal="start">
                    <ion-fab-button color="tertiary" (click)="start()">
                        <ion-icon name="arrow-forward" color="primary"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>