/* You can add global styles to this file, and also import other style files */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Variables */
@import "./theme/variables.scss";

.auth-wrapper {
    background: var(--ion-color-light);
    min-height: 100%;
    height:100hv;

    ion-grid {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-top:5%;

        ion-row {
            width: 100%;
            ion-card {
                box-shadow: none !important;
            }
        }

        ion-card {
            max-width: 500px;
            margin: 0 auto;

            ion-card-header {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            ion-item {
                border-radius: 10px !important;

                .eye-button {
                    height: 50px;
                }

                ion-checkbox {
                    margin: 0px 10px 0 0;
                }
            }

            .remember-me {
                --ripple-color: transparent !important;
            }

            ion-text {
                ion-icon {
                    margin: 0px 0px -3px 0px;
                }
            }

        }
    }
}


datatable-scroller {
    width: 100% !important;
}
